.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.input {
  margin: 0 auto;
  width: 10%;
}

.dashboard {
  display: flex;
  width: 50%;
  margin: 10px auto;
  border: 1px inset #ccc;
}

.list-group {
  width: 100%;
}

.list-group-item {
  width: 100%;
}

.contact-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact-list-item {
  padding: 20px;
  background: white;
  display: flex;
  border-bottom: 1px inset #ccc;
}

.contact-avatar {
  width: 120px;
  height: 120px;
  margin: auto 20px auto 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
  background-image: url(./avatar.png);
}

.contact-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  margin: 10px auto;
}
